In [2]:
counter = 1
for counter in range(101):
    message = fr'"{counter}" varchar(255),'
    counter = counter + 1
    print(message)

"0" varchar(255),
"1" varchar(255),
"2" varchar(255),
"3" varchar(255),
"4" varchar(255),
"5" varchar(255),
"6" varchar(255),
"7" varchar(255),
"8" varchar(255),
"9" varchar(255),
"10" varchar(255),
"11" varchar(255),
"12" varchar(255),
"13" varchar(255),
"14" varchar(255),
"15" varchar(255),
"16" varchar(255),
"17" varchar(255),
"18" varchar(255),
"19" varchar(255),
"20" varchar(255),
"21" varchar(255),
"22" varchar(255),
"23" varchar(255),
"24" varchar(255),
"25" varchar(255),
"26" varchar(255),
"27" varchar(255),
"28" varchar(255),
"29" varchar(255),
"30" varchar(255),
"31" varchar(255),
"32" varchar(255),
"33" varchar(255),
"34" varchar(255),
"35" varchar(255),
"36" varchar(255),
"37" varchar(255),
"38" varchar(255),
"39" varchar(255),
"40" varchar(255),
"41" varchar(255),
"42" varchar(255),
"43" varchar(255),
"44" varchar(255),
"45" varchar(255),
"46" varchar(255),
"47" varchar(255),
"48" varchar(255),
"49" varchar(255),
"50" varchar(255),
"51" varchar(255),
"52" varchar(255),
"53" varchar(255),
"54" varchar(255),
"55" varchar(255),
"56" varchar(255),
"57" varchar(255),
"58" varchar(255),
"59" varchar(255),
"60" varchar(255),
"61" varchar(255),
"62" varchar(255),
"63" varchar(255),
"64" varchar(255),
"65" varchar(255),
"66" varchar(255),
"67" varchar(255),
"68" varchar(255),
"69" varchar(255),
"70" varchar(255),
"71" varchar(255),
"72" varchar(255),
"73" varchar(255),
"74" varchar(255),
"75" varchar(255),
"76" varchar(255),
"77" varchar(255),
"78" varchar(255),
"79" varchar(255),
"80" varchar(255),
"81" varchar(255),
"82" varchar(255),
"83" varchar(255),
"84" varchar(255),
"85" varchar(255),
"86" varchar(255),
"87" varchar(255),
"88" varchar(255),
"89" varchar(255),
"90" varchar(255),
"91" varchar(255),
"92" varchar(255),
"93" varchar(255),
"94" varchar(255),
"95" varchar(255),
"96" varchar(255),
"97" varchar(255),
"98" varchar(255),
"99" varchar(255),
"100" varchar(255),

In [6]:
import pandas as pd
import numpy as np


chunksize = 10 ** 6
filename = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\data\JLPLabels.csv'
for chunk in pd.read_csv(filename, chunksize=chunksize, encoding = 'ISO-8859-1'):
    # chunk is a DataFrame. To "process" the rows in the chunk:
    for index, row in chunk.iterrows():
        print(row)

Status. Participant status                                                                                             1 'Terminated'
Country from URL                                                                                                               1 'UK'
DWEEK. Dummy to capture the week of the survey via link                                                                    1 'Week 1'
DMONTH. Dummy to capture the Month of the survey                                                                    1 'February 2021'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                      1 'Quarter 1 of survey (DMonth 2-3)'
                                                                                                                ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                                            1 'Base'
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                                             1 'Base'
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                                              1 'Base'
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                                 1 'Base'
Weight                                                                                                                            NaN
Name: 0, Length: 4111, dtype: object
Status. Participant status                                                                                              2 'Overquota'
Country from URL                                                                                                              2 'USA'
DWEEK. Dummy to capture the week of the survey via link                                                                    2 'Week 2'
DMONTH. Dummy to capture the Month of the survey                                                                       2 'March 2021'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                      2 'Quarter 2 of survey (DMonth 4-6)'
                                                                                                                ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                             2 'Score of 20 or more'
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                              2 'Score of 20 or more'
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                               2 'Score of 20 or more'
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                  2 'Score of 20 or more'
Weight                                                                                                                            NaN
Name: 1, Length: 4111, dtype: object
Status. Participant status                                                                                              3 'Qualified'
Country from URL                                                                                                           3 'France'
DWEEK. Dummy to capture the week of the survey via link                                                                    3 'Week 3'
DMONTH. Dummy to capture the Month of the survey                                                                       3 'April 2021'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                      3 'Quarter 3 of survey (DMonth 7-9)'
                                                                                                                ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                                                 NaN
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                                                  NaN
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                                                   NaN
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                                      NaN
Weight                                                                                                                            NaN
Name: 2, Length: 4111, dtype: object
Status. Participant status                                                                                                  4 'Partial'
Country from URL                                                                                                              4 'Italy'
DWEEK. Dummy to capture the week of the survey via link                                                                      4 'Week 4'
DMONTH. Dummy to capture the Month of the survey                                                                           4 'May 2021'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                      4 'Quarter 4 of survey (DMonth 10-12)'
                                                                                                                 ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                                                   NaN
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                                                    NaN
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                                                     NaN
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                                        NaN
Weight                                                                                                                              NaN
Name: 3, Length: 4111, dtype: object
Status. Participant status                                                                                                             NaN
Country from URL                                                                                                               5 'Germany'
DWEEK. Dummy to capture the week of the survey via link                                                                         5 'Week 5'
DMONTH. Dummy to capture the Month of the survey                                                                             5 'June 2021'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                      5 'Quarter 1 of survey 2022 (DMonth 1-3)'
                                                                                                                   ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                                                      NaN
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                                                       NaN
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                                                        NaN
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                                           NaN
Weight                                                                                                                                 NaN
Name: 4, Length: 4111, dtype: object
Status. Participant status                                                                                                             NaN
Country from URL                                                                                                                 6 'Spain'
DWEEK. Dummy to capture the week of the survey via link                                                                                NaN
DMONTH. Dummy to capture the Month of the survey                                                                             6 'July 2021'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                      6 'Quarter 2 of survey 2022 (DMonth 4-6)'
                                                                                                                   ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                                                      NaN
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                                                       NaN
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                                                        NaN
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                                           NaN
Weight                                                                                                                                 NaN
Name: 5, Length: 4111, dtype: object
Status. Participant status                                                                                                             NaN
Country from URL                                                                                                                7 'Sweden'
DWEEK. Dummy to capture the week of the survey via link                                                                                NaN
DMONTH. Dummy to capture the Month of the survey                                                                           7 'August 2021'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                      7 'Quarter 3 of survey 2022 (DMonth 7-9)'
                                                                                                                   ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                                                      NaN
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                                                       NaN
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                                                        NaN
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                                           NaN
Weight                                                                                                                                 NaN
Name: 6, Length: 4111, dtype: object
Status. Participant status                                                                                                               NaN
Country from URL                                                                                                                 8 'Denmark'
DWEEK. Dummy to capture the week of the survey via link                                                                                  NaN
DMONTH. Dummy to capture the Month of the survey                                                                          8 'September 2021'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                      8 'Quarter 4 of survey 2022 (DMonth 10-12)'
                                                                                                                    ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                                                        NaN
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                                                         NaN
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                                                          NaN
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                                             NaN
Weight                                                                                                                                   NaN
Name: 7, Length: 4111, dtype: object
Status. Participant status                                                                                    NaN
Country from URL                                                                                       9 'Norway'
DWEEK. Dummy to capture the week of the survey via link                                                       NaN
DMONTH. Dummy to capture the Month of the survey                                                 9 'October 2021'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                                   NaN
                                                                                                      ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                             NaN
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                              NaN
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                               NaN
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                  NaN
Weight                                                                                                        NaN
Name: 8, Length: 4111, dtype: object
Status. Participant status                                                                                      NaN
Country from URL                                                                                        10 'Greece'
DWEEK. Dummy to capture the week of the survey via link                                                         NaN
DMONTH. Dummy to capture the Month of the survey                                                 10 'November 2021'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                                     NaN
                                                                                                       ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                               NaN
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                                NaN
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                                 NaN
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                    NaN
Weight                                                                                                          NaN
Name: 9, Length: 4111, dtype: object
Status. Participant status                                                                                      NaN
Country from URL                                                                                       11 'Hungary'
DWEEK. Dummy to capture the week of the survey via link                                                         NaN
DMONTH. Dummy to capture the Month of the survey                                                 11 'December 2021'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                                     NaN
                                                                                                       ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                               NaN
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                                NaN
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                                 NaN
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                    NaN
Weight                                                                                                          NaN
Name: 10, Length: 4111, dtype: object
Status. Participant status                                                                                       NaN
Country from URL                                                                                 12 'Czech Republic'
DWEEK. Dummy to capture the week of the survey via link                                                          NaN
DMONTH. Dummy to capture the Month of the survey                                                   12 'January 2022'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                                      NaN
                                                                                                        ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                                NaN
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                                 NaN
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                                  NaN
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                     NaN
Weight                                                                                                           NaN
Name: 11, Length: 4111, dtype: object
Status. Participant status                                                                                      NaN
Country from URL                                                                                        13 'Poland'
DWEEK. Dummy to capture the week of the survey via link                                                         NaN
DMONTH. Dummy to capture the Month of the survey                                                 13 'February 2022'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                                     NaN
                                                                                                       ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                               NaN
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                                NaN
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                                 NaN
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                    NaN
Weight                                                                                                          NaN
Name: 12, Length: 4111, dtype: object
Status. Participant status                                                                                   NaN
Country from URL                                                                                     14 'Russia'
DWEEK. Dummy to capture the week of the survey via link                                                      NaN
DMONTH. Dummy to capture the Month of the survey                                                 14 'March 2022'
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                                  NaN
                                                                                                      ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more                            NaN
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                             NaN
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                              NaN
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more                 NaN
Weight                                                                                                       NaN
Name: 13, Length: 4111, dtype: object

In [23]:
import pandas as pd
import numpy as np

filename = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\data\JLPLabels.csv'
df_chunk = pd.read_csv(filename, encoding = 'ISO-8859-1', engine = 'python')

df_chunk = df_chunk.astype(str)
display(df_chunk)
display(df_chunk.dtypes)

,Status. Participant status,Country from URL,DWEEK. Dummy to capture the week of the survey via link,DMONTH. Dummy to capture the Month of the survey,DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey,DWAVE. Dummy to capture the wave of survey,"SC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFIF CAMPAIGN SECTION IS TURNED ON, DRIVERS AND BARRIERS SECTION (I1 AND I2) SHOULD BE TURNED OFF, ALONG WITH FC2A/B, AND VICE VERSA",MC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFTO BE COMPLETED WHEN SPLIT SECTION INITIATED,S1. Gender,S2. Age,...,D1 / D4: Values that inspire (20): Amazon: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Argos: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Next: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Marks and Spencer: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): John Lewis: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more,Weight
0,1 'Terminated',1 'UK',1 'Week 1',1 'February 2021',1 'Quarter 1 of survey (DMonth 2-3)',1 'WAVE 0 - NO FIELDWORK 2021',1 'CAMPAIGN SECTION TURNED ON',1 'CAMPAIGN SECTION TURNED ON',1 'Male',nan,...,1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',nan
1,2 'Overquota',2 'USA',2 'Week 2',2 'March 2021',2 'Quarter 2 of survey (DMonth 4-6)',2 'Wave 1 of survey',2 'CAMPAIGN SECTION TURNED OFF',2 'CAMPAIGN SECTION TURNED OFF',2 'Female',nan,...,2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',nan
2,3 'Qualified',3 'France',3 'Week 3',3 'April 2021',3 'Quarter 3 of survey (DMonth 7-9)',3 'Wave 2 of survey',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'Other gender not listed above',nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,4 'Partial',4 'Italy',4 'Week 4',4 'May 2021',4 'Quarter 4 of survey (DMonth 10-12)',4 'Wave 3 of survey',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'Prefer not to say',nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,nan,5 'Germany',5 'Week 5',5 'June 2021',5 'Quarter 1 of survey 2022 (DMonth 1-3)',5 'Wave 4 of survey',5 'FC2A/FC2B SECTION TURNED ON',5 'FC2A/FC2B SECTION TURNED ON',nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,nan,nan,nan,nan,nan,95 'Wave 94 of survey',nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
95,nan,nan,nan,nan,nan,96 'Wave 95 of survey',nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
96,nan,nan,nan,nan,nan,97 'Wave 96 of survey',nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
97,nan,nan,nan,nan,nan,98 'Wave 97 of survey',nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
98,nan,nan,nan,nan,nan,99 'Wave 98 of survey',nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

Status. Participant status                                                                      object
Country from URL                                                                                object
DWEEK. Dummy to capture the week of the survey via link                                         object
DMONTH. Dummy to capture the Month of the survey                                                object
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                     object
                                                                                                 ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more               object
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                object
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                 object
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more    object
Weight                                                                                          object
Length: 4111, dtype: object

In [17]:
list = [*range(1,101,1)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [28]:
import pandas as pd
import numpy as np

filename = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\data\JLPLabels.csv'
df_chunk = pd.read_csv(filename, encoding = 'ISO-8859-1', engine = 'python')
for column in df_chunk:
    df_chunk[column] = df_chunk[column].astype('string')
transposed_df = df_chunk.transpose()
transposed_df = transposed_df.reset_index()

new_column_names = [*range(1,101,1)]
    
# iterate over the list and rename each column
for i, new_name in enumerate(new_column_names):
    transposed_df = transposed_df.rename(columns={transposed_df.columns[i]: str(new_name)})
transposed_df.to_csv('output.csv', sep=',',encoding = 'utf-8')
display(df_chunk)
display(transposed_df)
display(df_chunk.dtypes)

,Status. Participant status,Country from URL,DWEEK. Dummy to capture the week of the survey via link,DMONTH. Dummy to capture the Month of the survey,DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey,DWAVE. Dummy to capture the wave of survey,"SC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFIF CAMPAIGN SECTION IS TURNED ON, DRIVERS AND BARRIERS SECTION (I1 AND I2) SHOULD BE TURNED OFF, ALONG WITH FC2A/B, AND VICE VERSA",MC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFTO BE COMPLETED WHEN SPLIT SECTION INITIATED,S1. Gender,S2. Age,...,D1 / D4: Values that inspire (20): Amazon: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Argos: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Next: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Marks and Spencer: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): John Lewis: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more,Weight
0,1 'Terminated',1 'UK',1 'Week 1',1 'February 2021',1 'Quarter 1 of survey (DMonth 2-3)',1 'WAVE 0 - NO FIELDWORK 2021',1 'CAMPAIGN SECTION TURNED ON',1 'CAMPAIGN SECTION TURNED ON',1 'Male',<NA>,...,1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',<NA>
1,2 'Overquota',2 'USA',2 'Week 2',2 'March 2021',2 'Quarter 2 of survey (DMonth 4-6)',2 'Wave 1 of survey',2 'CAMPAIGN SECTION TURNED OFF',2 'CAMPAIGN SECTION TURNED OFF',2 'Female',<NA>,...,2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',<NA>
2,3 'Qualified',3 'France',3 'Week 3',3 'April 2021',3 'Quarter 3 of survey (DMonth 7-9)',3 'Wave 2 of survey',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'Other gender not listed above',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,4 'Partial',4 'Italy',4 'Week 4',4 'May 2021',4 'Quarter 4 of survey (DMonth 10-12)',4 'Wave 3 of survey',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'Prefer not to say',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,5 'Germany',5 'Week 5',5 'June 2021',5 'Quarter 1 of survey 2022 (DMonth 1-3)',5 'Wave 4 of survey',5 'FC2A/FC2B SECTION TURNED ON',5 'FC2A/FC2B SECTION TURNED ON',<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,<NA>,<NA>,<NA>,<NA>,<NA>,95 'Wave 94 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
95,<NA>,<NA>,<NA>,<NA>,<NA>,96 'Wave 95 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
96,<NA>,<NA>,<NA>,<NA>,<NA>,97 'Wave 96 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
97,<NA>,<NA>,<NA>,<NA>,<NA>,98 'Wave 97 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
98,<NA>,<NA>,<NA>,<NA>,<NA>,99 'Wave 98 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,Status. Participant status,1 'Terminated',2 'Overquota',3 'Qualified',4 'Partial',<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,Country from URL,1 'UK',2 'USA',3 'France',4 'Italy',5 'Germany',6 'Spain',7 'Sweden',8 'Denmark',9 'Norway',...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,DWEEK. Dummy to capture the week of the survey...,1 'Week 1',2 'Week 2',3 'Week 3',4 'Week 4',5 'Week 5',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,DMONTH. Dummy to capture the Month of the survey,1 'February 2021',2 'March 2021',3 'April 2021',4 'May 2021',5 'June 2021',6 'July 2021',7 'August 2021',8 'September 2021',9 'October 2021',...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,DQUARTERJL. DUMMY VARIABLE to capture Quarter ...,1 'Quarter 1 of survey (DMonth 2-3)',2 'Quarter 2 of survey (DMonth 4-6)',3 'Quarter 3 of survey (DMonth 7-9)',4 'Quarter 4 of survey (DMonth 10-12)',5 'Quarter 1 of survey 2022 (DMonth 1-3)',6 'Quarter 2 of survey 2022 (DMonth 4-6)',7 'Quarter 3 of survey 2022 (DMonth 7-9)',8 'Quarter 4 of survey 2022 (DMonth 10-12)',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4106,D1 / D2 / D4: Designed for life (20): Amazon: ...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4107,D1 / D2 / D4: Designed for life (20): Argos: V...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4108,D1 / D2 / D4: Designed for life (20): Next: Va...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4109,D1 / D2 / D4: Designed for life (20): Marks an...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4110,Weight,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

Status. Participant status                                                                      string[python]
Country from URL                                                                                string[python]
DWEEK. Dummy to capture the week of the survey via link                                         string[python]
DMONTH. Dummy to capture the Month of the survey                                                string[python]
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                     string[python]
                                                                                                     ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more               string[python]
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                string[python]
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                 string[python]
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more    string[python]
Weight                                                                                          string[python]
Length: 4111, dtype: object

In [15]:
import pandas as pd
import numpy as np

filename = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\data\JLPLabels.csv'
df_chunk = pd.read_csv(filename, encoding = 'ISO-8859-1', engine = 'python')
for column in df_chunk:
    df_chunk[column] = df_chunk[column].astype('string')
transposed_df = df_chunk.transpose()
transposed_df = transposed_df.reset_index()

new_column_names = [*range(1,101,1)]
    
# iterate over the list and rename each column
for i, new_name in enumerate(new_column_names):
    transposed_df = transposed_df.rename(columns={transposed_df.columns[i]: str(new_name)})
transposed_df['1'] = transposed_df['1'].str.slice(0,255)
for column in transposed_df:
    transposed_df['charactercount'] = transposed_df['1'].str.len()
    
transposed_df.to_csv('outputcount.csv', sep=',',encoding = 'utf-8')
display(df_chunk)
display(transposed_df)
display(df_chunk.dtypes)

,Status. Participant status,Country from URL,DWEEK. Dummy to capture the week of the survey via link,DMONTH. Dummy to capture the Month of the survey,DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey,DWAVE. Dummy to capture the wave of survey,"SC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFIF CAMPAIGN SECTION IS TURNED ON, DRIVERS AND BARRIERS SECTION (I1 AND I2) SHOULD BE TURNED OFF, ALONG WITH FC2A/B, AND VICE VERSA",MC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFTO BE COMPLETED WHEN SPLIT SECTION INITIATED,S1. Gender,S2. Age,...,D1 / D4: Values that inspire (20): Amazon: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Argos: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Next: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Marks and Spencer: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): John Lewis: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more,Weight
0,1 'Terminated',1 'UK',1 'Week 1',1 'February 2021',1 'Quarter 1 of survey (DMonth 2-3)',1 'WAVE 0 - NO FIELDWORK 2021',1 'CAMPAIGN SECTION TURNED ON',1 'CAMPAIGN SECTION TURNED ON',1 'Male',<NA>,...,1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',<NA>
1,2 'Overquota',2 'USA',2 'Week 2',2 'March 2021',2 'Quarter 2 of survey (DMonth 4-6)',2 'Wave 1 of survey',2 'CAMPAIGN SECTION TURNED OFF',2 'CAMPAIGN SECTION TURNED OFF',2 'Female',<NA>,...,2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',<NA>
2,3 'Qualified',3 'France',3 'Week 3',3 'April 2021',3 'Quarter 3 of survey (DMonth 7-9)',3 'Wave 2 of survey',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'Other gender not listed above',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,4 'Partial',4 'Italy',4 'Week 4',4 'May 2021',4 'Quarter 4 of survey (DMonth 10-12)',4 'Wave 3 of survey',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'Prefer not to say',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,5 'Germany',5 'Week 5',5 'June 2021',5 'Quarter 1 of survey 2022 (DMonth 1-3)',5 'Wave 4 of survey',5 'FC2A/FC2B SECTION TURNED ON',5 'FC2A/FC2B SECTION TURNED ON',<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,<NA>,<NA>,<NA>,<NA>,<NA>,95 'Wave 94 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
95,<NA>,<NA>,<NA>,<NA>,<NA>,96 'Wave 95 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
96,<NA>,<NA>,<NA>,<NA>,<NA>,97 'Wave 96 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
97,<NA>,<NA>,<NA>,<NA>,<NA>,98 'Wave 97 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
98,<NA>,<NA>,<NA>,<NA>,<NA>,99 'Wave 98 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

,1,2,3,4,5,6,7,8,9,10,...,92,93,94,95,96,97,98,99,100,charactercount
0,Status. Participant status,1 'Terminated',2 'Overquota',3 'Qualified',4 'Partial',<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,26
1,Country from URL,1 'UK',2 'USA',3 'France',4 'Italy',5 'Germany',6 'Spain',7 'Sweden',8 'Denmark',9 'Norway',...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,16
2,DWEEK. Dummy to capture the week of the survey...,1 'Week 1',2 'Week 2',3 'Week 3',4 'Week 4',5 'Week 5',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,55
3,DMONTH. Dummy to capture the Month of the survey,1 'February 2021',2 'March 2021',3 'April 2021',4 'May 2021',5 'June 2021',6 'July 2021',7 'August 2021',8 'September 2021',9 'October 2021',...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,48
4,DQUARTERJL. DUMMY VARIABLE to capture Quarter ...,1 'Quarter 1 of survey (DMonth 2-3)',2 'Quarter 2 of survey (DMonth 4-6)',3 'Quarter 3 of survey (DMonth 7-9)',4 'Quarter 4 of survey (DMonth 10-12)',5 'Quarter 1 of survey 2022 (DMonth 1-3)',6 'Quarter 2 of survey 2022 (DMonth 4-6)',7 'Quarter 3 of survey 2022 (DMonth 7-9)',8 'Quarter 4 of survey 2022 (DMonth 10-12)',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4106,D1 / D2 / D4: Designed for life (20): Amazon: ...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,81
4107,D1 / D2 / D4: Designed for life (20): Argos: V...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,80
4108,D1 / D2 / D4: Designed for life (20): Next: Va...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,79
4109,D1 / D2 / D4: Designed for life (20): Marks an...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,92
4110,Weight,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,6

Status. Participant status                                                                      string[python]
Country from URL                                                                                string[python]
DWEEK. Dummy to capture the week of the survey via link                                         string[python]
DMONTH. Dummy to capture the Month of the survey                                                string[python]
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                     string[python]
                                                                                                     ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more               string[python]
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                string[python]
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                 string[python]
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more    string[python]
Weight                                                                                          string[python]
Length: 4111, dtype: object

In [20]:
import pandas as pd
import numpy as np

filename = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\data\JLPLabels.csv'
df_chunk = pd.read_csv(filename, encoding = 'ISO-8859-1', engine = 'python')
for column in df_chunk:
    df_chunk[column] = df_chunk[column].astype('string')
transposed_df = df_chunk.transpose()
transposed_df = transposed_df.reset_index()

new_column_names = [*range(1,101,1)]
    
# iterate over the list and rename each column
for i, new_name in enumerate(new_column_names):
    transposed_df = transposed_df.rename(columns={transposed_df.columns[i]: str(new_name)})
for column in transposed_df:
    transposed_df[column] = transposed_df[column].str.slice(0,255)
    
transposed_df.to_csv('outputcount.csv', sep=',',encoding = 'utf-8')
display(df_chunk)
display(transposed_df)
display(df_chunk.dtypes)

,Status. Participant status,Country from URL,DWEEK. Dummy to capture the week of the survey via link,DMONTH. Dummy to capture the Month of the survey,DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey,DWAVE. Dummy to capture the wave of survey,"SC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFIF CAMPAIGN SECTION IS TURNED ON, DRIVERS AND BARRIERS SECTION (I1 AND I2) SHOULD BE TURNED OFF, ALONG WITH FC2A/B, AND VICE VERSA",MC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFTO BE COMPLETED WHEN SPLIT SECTION INITIATED,S1. Gender,S2. Age,...,D1 / D4: Values that inspire (20): Amazon: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Argos: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Next: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Marks and Spencer: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): John Lewis: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more,Weight
0,1 'Terminated',1 'UK',1 'Week 1',1 'February 2021',1 'Quarter 1 of survey (DMonth 2-3)',1 'WAVE 0 - NO FIELDWORK 2021',1 'CAMPAIGN SECTION TURNED ON',1 'CAMPAIGN SECTION TURNED ON',1 'Male',<NA>,...,1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',<NA>
1,2 'Overquota',2 'USA',2 'Week 2',2 'March 2021',2 'Quarter 2 of survey (DMonth 4-6)',2 'Wave 1 of survey',2 'CAMPAIGN SECTION TURNED OFF',2 'CAMPAIGN SECTION TURNED OFF',2 'Female',<NA>,...,2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',<NA>
2,3 'Qualified',3 'France',3 'Week 3',3 'April 2021',3 'Quarter 3 of survey (DMonth 7-9)',3 'Wave 2 of survey',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'Other gender not listed above',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,4 'Partial',4 'Italy',4 'Week 4',4 'May 2021',4 'Quarter 4 of survey (DMonth 10-12)',4 'Wave 3 of survey',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'Prefer not to say',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,5 'Germany',5 'Week 5',5 'June 2021',5 'Quarter 1 of survey 2022 (DMonth 1-3)',5 'Wave 4 of survey',5 'FC2A/FC2B SECTION TURNED ON',5 'FC2A/FC2B SECTION TURNED ON',<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,<NA>,<NA>,<NA>,<NA>,<NA>,95 'Wave 94 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
95,<NA>,<NA>,<NA>,<NA>,<NA>,96 'Wave 95 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
96,<NA>,<NA>,<NA>,<NA>,<NA>,97 'Wave 96 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
97,<NA>,<NA>,<NA>,<NA>,<NA>,98 'Wave 97 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
98,<NA>,<NA>,<NA>,<NA>,<NA>,99 'Wave 98 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,Status. Participant status,1 'Terminated',2 'Overquota',3 'Qualified',4 'Partial',<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,Country from URL,1 'UK',2 'USA',3 'France',4 'Italy',5 'Germany',6 'Spain',7 'Sweden',8 'Denmark',9 'Norway',...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,DWEEK. Dummy to capture the week of the survey...,1 'Week 1',2 'Week 2',3 'Week 3',4 'Week 4',5 'Week 5',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,DMONTH. Dummy to capture the Month of the survey,1 'February 2021',2 'March 2021',3 'April 2021',4 'May 2021',5 'June 2021',6 'July 2021',7 'August 2021',8 'September 2021',9 'October 2021',...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,DQUARTERJL. DUMMY VARIABLE to capture Quarter ...,1 'Quarter 1 of survey (DMonth 2-3)',2 'Quarter 2 of survey (DMonth 4-6)',3 'Quarter 3 of survey (DMonth 7-9)',4 'Quarter 4 of survey (DMonth 10-12)',5 'Quarter 1 of survey 2022 (DMonth 1-3)',6 'Quarter 2 of survey 2022 (DMonth 4-6)',7 'Quarter 3 of survey 2022 (DMonth 7-9)',8 'Quarter 4 of survey 2022 (DMonth 10-12)',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4106,D1 / D2 / D4: Designed for life (20): Amazon: ...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4107,D1 / D2 / D4: Designed for life (20): Argos: V...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4108,D1 / D2 / D4: Designed for life (20): Next: Va...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4109,D1 / D2 / D4: Designed for life (20): Marks an...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4110,Weight,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

Status. Participant status                                                                      string[python]
Country from URL                                                                                string[python]
DWEEK. Dummy to capture the week of the survey via link                                         string[python]
DMONTH. Dummy to capture the Month of the survey                                                string[python]
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                     string[python]
                                                                                                     ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more               string[python]
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                string[python]
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                 string[python]
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more    string[python]
Weight                                                                                          string[python]
Length: 4111, dtype: object

In [36]:
import pandas as pd
import numpy as np

filename = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\data\JLPLabels.csv'
df_chunk = pd.read_csv(filename, encoding = 'ISO-8859-1', engine = 'python')
for column in df_chunk:
    df_chunk[column] = df_chunk[column].astype('string')
transposed_df = df_chunk.transpose()
transposed_df = transposed_df.reset_index()

new_column_names = [*range(1,101,1)]

def slicer(item):
    if type(item) != str:
        pass
    else:
        return item[:255]
    
# iterate over the list and rename each column
for i, new_name in enumerate(new_column_names):
    transposed_df = transposed_df.rename(columns={transposed_df.columns[i]: str(new_name)})

#transposed_df.applymap(slicer)
for column in transposed_df.columns[0:]:
    for item in column:
        transposed_df[column][item] = item[:255]
    #transposed_df[column] = transposed_df[column].str.slice(0,255)
    
transposed_df.to_csv('outputcount.csv', sep=',',encoding = 'utf-8')
display(df_chunk)
display(transposed_df)
display(df_chunk.dtypes)

C:\Users\NixonNg\AppData\Local\Temp\ipykernel_11024\3950007500.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transposed_df[column][item] = item[:255]

,Status. Participant status,Country from URL,DWEEK. Dummy to capture the week of the survey via link,DMONTH. Dummy to capture the Month of the survey,DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey,DWAVE. Dummy to capture the wave of survey,"SC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFIF CAMPAIGN SECTION IS TURNED ON, DRIVERS AND BARRIERS SECTION (I1 AND I2) SHOULD BE TURNED OFF, ALONG WITH FC2A/B, AND VICE VERSA",MC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFTO BE COMPLETED WHEN SPLIT SECTION INITIATED,S1. Gender,S2. Age,...,D1 / D4: Values that inspire (20): Amazon: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Argos: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Next: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Marks and Spencer: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): John Lewis: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more,Weight
0,1 'Terminated',1 'UK',1 'Week 1',1 'February 2021',1 'Quarter 1 of survey (DMonth 2-3)',1 'WAVE 0 - NO FIELDWORK 2021',1 'CAMPAIGN SECTION TURNED ON',1 'CAMPAIGN SECTION TURNED ON',1 'Male',<NA>,...,1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',<NA>
1,2 'Overquota',2 'USA',2 'Week 2',2 'March 2021',2 'Quarter 2 of survey (DMonth 4-6)',2 'Wave 1 of survey',2 'CAMPAIGN SECTION TURNED OFF',2 'CAMPAIGN SECTION TURNED OFF',2 'Female',<NA>,...,2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',<NA>
2,3 'Qualified',3 'France',3 'Week 3',3 'April 2021',3 'Quarter 3 of survey (DMonth 7-9)',3 'Wave 2 of survey',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'Other gender not listed above',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,4 'Partial',4 'Italy',4 'Week 4',4 'May 2021',4 'Quarter 4 of survey (DMonth 10-12)',4 'Wave 3 of survey',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'Prefer not to say',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,5 'Germany',5 'Week 5',5 'June 2021',5 'Quarter 1 of survey 2022 (DMonth 1-3)',5 'Wave 4 of survey',5 'FC2A/FC2B SECTION TURNED ON',5 'FC2A/FC2B SECTION TURNED ON',<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,<NA>,<NA>,<NA>,<NA>,<NA>,95 'Wave 94 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
95,<NA>,<NA>,<NA>,<NA>,<NA>,96 'Wave 95 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
96,<NA>,<NA>,<NA>,<NA>,<NA>,97 'Wave 96 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
97,<NA>,<NA>,<NA>,<NA>,<NA>,98 'Wave 97 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
98,<NA>,<NA>,<NA>,<NA>,<NA>,99 'Wave 98 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,Status. Participant status,1 'Terminated',2 'Overquota',3 'Qualified',4 'Partial',<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,Country from URL,1 'UK',2 'USA',3 'France',4 'Italy',5 'Germany',6 'Spain',7 'Sweden',8 'Denmark',9 'Norway',...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,DWEEK. Dummy to capture the week of the survey...,1 'Week 1',2 'Week 2',3 'Week 3',4 'Week 4',5 'Week 5',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,DMONTH. Dummy to capture the Month of the survey,1 'February 2021',2 'March 2021',3 'April 2021',4 'May 2021',5 'June 2021',6 'July 2021',7 'August 2021',8 'September 2021',9 'October 2021',...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,DQUARTERJL. DUMMY VARIABLE to capture Quarter ...,1 'Quarter 1 of survey (DMonth 2-3)',2 'Quarter 2 of survey (DMonth 4-6)',3 'Quarter 3 of survey (DMonth 7-9)',4 'Quarter 4 of survey (DMonth 10-12)',5 'Quarter 1 of survey 2022 (DMonth 1-3)',6 'Quarter 2 of survey 2022 (DMonth 4-6)',7 'Quarter 3 of survey 2022 (DMonth 7-9)',8 'Quarter 4 of survey 2022 (DMonth 10-12)',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4106,D1 / D2 / D4: Designed for life (20): Amazon: ...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4107,D1 / D2 / D4: Designed for life (20): Argos: V...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4108,D1 / D2 / D4: Designed for life (20): Next: Va...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4109,D1 / D2 / D4: Designed for life (20): Marks an...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4110,Weight,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

Status. Participant status                                                                      string[python]
Country from URL                                                                                string[python]
DWEEK. Dummy to capture the week of the survey via link                                         string[python]
DMONTH. Dummy to capture the Month of the survey                                                string[python]
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                     string[python]
                                                                                                     ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more               string[python]
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                string[python]
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                 string[python]
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more    string[python]
Weight                                                                                          string[python]
Length: 4111, dtype: object

In [39]:
# To create trimmed jlp_labels table
import pandas as pd
import numpy as np

filename = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\data\JLPLabels.csv'
df_chunk = pd.read_csv(filename, encoding = 'ISO-8859-1', engine = 'python')
for column in df_chunk:
    df_chunk[column] = df_chunk[column].astype('string')
#transposed_df = df_chunk.transpose()
#transposed_df = transposed_df.reset_index()

#new_column_names = [*range(1,101,1)]
    
# iterate over the list and rename each column
#for i, new_name in enumerate(new_column_names):
#    transposed_df = transposed_df.rename(columns={transposed_df.columns[i]: str(new_name)})
for column in df_chunk.columns[0:]:
    df_chunk[column] = df_chunk[column].str.slice(0,255)
#transposed_df['1'] = transposed_df['1'].str.slice(0,255)
    
df_chunk.to_csv('output3.csv', sep=',',encoding = 'utf-8')
display(df_chunk)
display(df_chunk.dtypes)

,Status. Participant status,Country from URL,DWEEK. Dummy to capture the week of the survey via link,DMONTH. Dummy to capture the Month of the survey,DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey,DWAVE. Dummy to capture the wave of survey,"SC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFIF CAMPAIGN SECTION IS TURNED ON, DRIVERS AND BARRIERS SECTION (I1 AND I2) SHOULD BE TURNED OFF, ALONG WITH FC2A/B, AND VICE VERSA",MC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFTO BE COMPLETED WHEN SPLIT SECTION INITIATED,S1. Gender,S2. Age,...,D1 / D4: Values that inspire (20): Amazon: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Argos: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Next: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Marks and Spencer: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): John Lewis: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more,Weight
0,1 'Terminated',1 'UK',1 'Week 1',1 'February 2021',1 'Quarter 1 of survey (DMonth 2-3)',1 'WAVE 0 - NO FIELDWORK 2021',1 'CAMPAIGN SECTION TURNED ON',1 'CAMPAIGN SECTION TURNED ON',1 'Male',<NA>,...,1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',<NA>
1,2 'Overquota',2 'USA',2 'Week 2',2 'March 2021',2 'Quarter 2 of survey (DMonth 4-6)',2 'Wave 1 of survey',2 'CAMPAIGN SECTION TURNED OFF',2 'CAMPAIGN SECTION TURNED OFF',2 'Female',<NA>,...,2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',<NA>
2,3 'Qualified',3 'France',3 'Week 3',3 'April 2021',3 'Quarter 3 of survey (DMonth 7-9)',3 'Wave 2 of survey',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'Other gender not listed above',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,4 'Partial',4 'Italy',4 'Week 4',4 'May 2021',4 'Quarter 4 of survey (DMonth 10-12)',4 'Wave 3 of survey',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'Prefer not to say',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,5 'Germany',5 'Week 5',5 'June 2021',5 'Quarter 1 of survey 2022 (DMonth 1-3)',5 'Wave 4 of survey',5 'FC2A/FC2B SECTION TURNED ON',5 'FC2A/FC2B SECTION TURNED ON',<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,<NA>,<NA>,<NA>,<NA>,<NA>,95 'Wave 94 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
95,<NA>,<NA>,<NA>,<NA>,<NA>,96 'Wave 95 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
96,<NA>,<NA>,<NA>,<NA>,<NA>,97 'Wave 96 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
97,<NA>,<NA>,<NA>,<NA>,<NA>,98 'Wave 97 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
98,<NA>,<NA>,<NA>,<NA>,<NA>,99 'Wave 98 of survey',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

Status. Participant status                                                                      string[python]
Country from URL                                                                                string[python]
DWEEK. Dummy to capture the week of the survey via link                                         string[python]
DMONTH. Dummy to capture the Month of the survey                                                string[python]
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                     string[python]
                                                                                                     ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more               string[python]
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                string[python]
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                 string[python]
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more    string[python]
Weight                                                                                          string[python]
Length: 4111, dtype: object

In [40]:
# To create trimmed transposed_jlp_labels table
import pandas as pd
import numpy as np

filename = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\data\JLPLabels.csv'
df_chunk = pd.read_csv(filename, encoding = 'ISO-8859-1', engine = 'python')
for column in df_chunk:
    df_chunk[column] = df_chunk[column].astype('string')
transposed_df = df_chunk.transpose()
transposed_df = transposed_df.reset_index()

new_column_names = [*range(1,101,1)]
    
# iterate over the list and rename each column
for i, new_name in enumerate(new_column_names):
    transposed_df = transposed_df.rename(columns={transposed_df.columns[i]: str(new_name)})
for column in transposed_df.columns[0:]:
    transposed_df[column] = transposed_df[column].str.slice(0,255)
#transposed_df['1'] = transposed_df['1'].str.slice(0,255)

transposed_df.to_csv('outputcount.csv', sep=',',encoding = 'utf-8')
display(transposed_df)
display(df_chunk.dtypes)

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,Status. Participant status,1 'Terminated',2 'Overquota',3 'Qualified',4 'Partial',<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,Country from URL,1 'UK',2 'USA',3 'France',4 'Italy',5 'Germany',6 'Spain',7 'Sweden',8 'Denmark',9 'Norway',...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,DWEEK. Dummy to capture the week of the survey...,1 'Week 1',2 'Week 2',3 'Week 3',4 'Week 4',5 'Week 5',<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,DMONTH. Dummy to capture the Month of the survey,1 'February 2021',2 'March 2021',3 'April 2021',4 'May 2021',5 'June 2021',6 'July 2021',7 'August 2021',8 'September 2021',9 'October 2021',...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,DQUARTERJL. DUMMY VARIABLE to capture Quarter ...,1 'Quarter 1 of survey (DMonth 2-3)',2 'Quarter 2 of survey (DMonth 4-6)',3 'Quarter 3 of survey (DMonth 7-9)',4 'Quarter 4 of survey (DMonth 10-12)',5 'Quarter 1 of survey 2022 (DMonth 1-3)',6 'Quarter 2 of survey 2022 (DMonth 4-6)',7 'Quarter 3 of survey 2022 (DMonth 7-9)',8 'Quarter 4 of survey 2022 (DMonth 10-12)',<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4106,D1 / D2 / D4: Designed for life (20): Amazon: ...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4107,D1 / D2 / D4: Designed for life (20): Argos: V...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4108,D1 / D2 / D4: Designed for life (20): Next: Va...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4109,D1 / D2 / D4: Designed for life (20): Marks an...,1 'Base',2 'Score of 20 or more',<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4110,Weight,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

Status. Participant status                                                                      string[python]
Country from URL                                                                                string[python]
DWEEK. Dummy to capture the week of the survey via link                                         string[python]
DMONTH. Dummy to capture the Month of the survey                                                string[python]
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                     string[python]
                                                                                                     ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more               string[python]
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                string[python]
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                 string[python]
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more    string[python]
Weight                                                                                          string[python]
Length: 4111, dtype: object

In [60]:
# To create trimmed jlp_labels table
import pandas as pd
import numpy as np

filename = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\data\JLPLabels.csv'
df_chunk = pd.read_csv(filename, encoding = 'ISO-8859-1', engine = 'python')
for column in df_chunk:
    df_chunk[column] = df_chunk[column].astype('string')
transposed_df = df_chunk.transpose()
transposed_df = transposed_df.reset_index()

new_column_names = [*range(1,101,1)]
    
# iterate over the list and rename each column
for i, new_name in enumerate(new_column_names):
    transposed_df = transposed_df.rename(columns={transposed_df.columns[i]: str(new_name)})
for column in transposed_df.columns[0:]:
    transposed_df[column] = transposed_df[column].str.slice(0,255)
#transposed_df['1'] = transposed_df['1'].str.slice(0,255)

df_chunk = transposed_df.transpose()
#df_chunk1 = df_chunk.drop(index=df_chunk.index[0], axis = 0, inplace = True)
#df_chunk1 = df_chunk.iloc[1:]
df_chunk.columns = df_chunk.iloc[0]
df_chunk = df_chunk[1:]
df_chunk = df_chunk.set_index(['Status. Participant status'])
df_chunk.to_csv('outputcount2.csv', sep=',',encoding = 'utf-8')
display(df_chunk)
display(df_chunk.dtypes)

1,Country from URL,DWEEK. Dummy to capture the week of the survey via link,DMONTH. Dummy to capture the Month of the survey,DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey,DWAVE. Dummy to capture the wave of survey,"SC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFIF CAMPAIGN SECTION IS TURNED ON, DRIVERS AND BARRIERS SECTION (I1 AND I2) SHOULD BE TURNED OFF, ALONG WITH FC2A/B, AND VICE VERSA",MC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFTO BE COMPLETED WHEN SPLIT SECTION INITIATED,S1. Gender,S2. Age,DAGE,...,D1 / D4: Values that inspire (20): Amazon: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Argos: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Next: Value composite score of 20 or more,D1 / D4: Values that inspire (20): Marks and Spencer: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): John Lewis: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more,D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more,Weight
Status. Participant status,,,,,,,,,,,,,,,,,,,,,
1 'Terminated',1 'UK',1 'Week 1',1 'February 2021',1 'Quarter 1 of survey (DMonth 2-3)',1 'WAVE 0 - NO FIELDWORK 2021',1 'CAMPAIGN SECTION TURNED ON',1 'CAMPAIGN SECTION TURNED ON',1 'Male',NaN,1 'Under 18',...,1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',1 'Base',NaN
2 'Overquota',2 'USA',2 'Week 2',2 'March 2021',2 'Quarter 2 of survey (DMonth 4-6)',2 'Wave 1 of survey',2 'CAMPAIGN SECTION TURNED OFF',2 'CAMPAIGN SECTION TURNED OFF',2 'Female',NaN,2 '18-24',...,2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',2 'Score of 20 or more',NaN
3 'Qualified',3 'France',3 'Week 3',3 'April 2021',3 'Quarter 3 of survey (DMonth 7-9)',3 'Wave 2 of survey',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'DRIVERS AND BARRIERS SECTION TURNED ON',3 'Other gender not listed above',NaN,3 '25-34',...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
4 'Partial',4 'Italy',4 'Week 4',4 'May 2021',4 'Quarter 4 of survey (DMonth 10-12)',4 'Wave 3 of survey',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'DRIVERS AND BARRIERS SECTION TURNED OFF',4 'Prefer not to say',NaN,4 '35-44',...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
<NA>,5 'Germany',5 'Week 5',5 'June 2021',5 'Quarter 1 of survey 2022 (DMonth 1-3)',5 'Wave 4 of survey',5 'FC2A/FC2B SECTION TURNED ON',5 'FC2A/FC2B SECTION TURNED ON',<NA>,NaN,5 '45-54',...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
<NA>,NaN,NaN,NaN,NaN,95 'Wave 94 of survey',NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
<NA>,NaN,NaN,NaN,NaN,96 'Wave 95 of survey',NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
<NA>,NaN,NaN,NaN,NaN,97 'Wave 96 of survey',NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
<NA>,NaN,NaN,NaN,NaN,98 'Wave 97 of survey',NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
<NA>,NaN,NaN,NaN,NaN,99 'Wave 98 of survey',NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1
Country from URL                                                                                object
DWEEK. Dummy to capture the week of the survey via link                                         object
DMONTH. Dummy to capture the Month of the survey                                                object
DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey                                     object
DWAVE. Dummy to capture the wave of survey                                                      object
                                                                                                 ...
D1 / D2 / D4: Designed for life (20): Amazon: Value composite score of 20 or more               object
D1 / D2 / D4: Designed for life (20): Argos: Value composite score of 20 or more                object
D1 / D2 / D4: Designed for life (20): Next: Value composite score of 20 or more                 object
D1 / D2 / D4: Designed for life (20): Marks and Spencer: Value composite score of 20 or more    object
Weight                                                                                          object
Length: 4110, dtype: object

In [9]:
import pandas as pd
# Uploading jlp_labels tables (source & snowflake)
filename1 = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\project_file\source_jlp_labels.csv'
ctest_df1 = pd.read_csv(filename1, encoding = 'ISO-8859-1', engine = 'python')
filename2 = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\project_file\test_jlp_labels.csv'
ctest_df2 = pd.read_csv(filename2, encoding = 'ISO-8859-1', engine = 'python')
# Uploading transposed_jlp_labels tables (source & snowflake)
filename3 = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\project_file\source_transposed_jlp_labels.csv'
ctest_df3 = pd.read_csv(filename3, encoding = 'ISO-8859-1', engine = 'python')
filename4 = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\project_file\test_transposed_jlp_labels.csv'
ctest_df4 = pd.read_csv(filename4, encoding = 'ISO-8859-1', engine = 'python')
# Uploading JohnLewisCSVCutDown tables (source & snowflake)
filename5 = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\data\JohnLewisCSVCutDown.csv'
ctest_df5 = pd.read_csv(filename5, encoding = 'ISO-8859-1', engine = 'python')
filename6 = r'C:\Users\NixonNg\OneDrive - Kubrick Group\Desktop\Kubrick Training Program\Week 14 (Client Project)\JLP\project_file\test_JohnLewisCSVCutDown.csv'
ctest_df6 = pd.read_csv(filename6, encoding = 'ISO-8859-1', engine = 'python')
# Testing merge dataframes for duplicates
merge_df1 = pd.concat([ctest_df1,ctest_df2], axis=0)
merge_df2 = pd.concat([ctest_df3,ctest_df4], axis=0)
merge_df3 = pd.concat([ctest_df5,ctest_df6], axis=0)
#display(merge_df1.drop_duplicates(keep=False))
#display(merge_df2.drop_duplicates(keep=False))
#display(merge_df3.drop_duplicates(keep=False))

Empty DataFrame
Columns: [Status. Participant status, Country from URL, DWEEK. Dummy to capture the week of the survey via link, DMONTH. Dummy to capture the Month of the survey, DQUARTERJL. DUMMY VARIABLE to capture Quarter of the survey, DWAVE. Dummy to capture the wave of survey, SC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFIF CAMPAIGN SECTION IS TURNED ON, DRIVERS AND BARRIERS SECTION (I1 AND I2) SHOULD BE TURNED OFF, ALONG WITH FC2A/B, AND VICE VERSA, MC DUMMY VARIABLE. DO NOT SHOW TO RESPONDENTS. USED TO TOGGLE SECTIONS ON AND OFFTO BE COMPLETED WHEN SPLIT SECTION INITIATED, S1. Gender, S2. Age, DAGE, DAGEGENDER, S3. Please indicate to which occupational group the Chief Income Earner in your household belongs, or which group fits best., DSOCIAL. Social Grade, DSEG. Social Grade, S4. Region, DREGION. Region, S5. Who is responsible for the purchasing of non-food items in your household?, DFINAL.1. Dummy to punch final punches, DFINAL.2. Dummy to punch final punches, DFINAL.3. Dummy to punch final punches, DFINAL.4. Dummy to punch final punches, DFINAL.5. Dummy to punch final punches, DFINAL.6. Dummy to punch final punches, DFINAL.7. Dummy to punch final punches, DFINAL.8. Dummy to punch final punches, DFINAL.9. Dummy to punch final punches, DFINAL.10. Dummy to punch final punches, DFINAL.11. Dummy to punch final punches, DFINAL.12. Dummy to punch final punches, DFINAL.13. Dummy to punch final punches, DFINAL.14. Dummy to punch final punches, DFINAL.15. Dummy to punch final punches, DFINAL.16. Dummy to punch final punches, DFINAL.17. Dummy to punch final punches, DFINAL.18. Dummy to punch final punches, DFINAL.19. Dummy to punch final punches, DSEGMENT. Dummy for Segment Score, A1. Which retailers come to mind when you think about shopping for non-food items?, A2. Which of the following retailers are you aware of?, DXAWARE, A3.1. John Lewis: How likely are you to consider purchasing non-food items (such as clothing, electrical appliances, electronics and computers, furniture and furnishing etc.) from each of the following retailers in the future, either in-store or online?, A3.2. Amazon: How likely are you to consider purchasing non-food items (such as clothing, electrical appliances, electronics and computers, furniture and furnishing etc.) from each of the following retailers in the future, either in-store or online?, A3.3. Argos: How likely are you to consider purchasing non-food items (such as clothing, electrical appliances, electronics and computers, furniture and furnishing etc.) from each of the following retailers in the future, either in-store or online?, A3.4. Next: How likely are you to consider purchasing non-food items (such as clothing, electrical appliances, electronics and computers, furniture and furnishing etc.) from each of the following retailers in the future, either in-store or online?, A3.5. Marks and Spencer: How likely are you to consider purchasing non-food items (such as clothing, electrical appliances, electronics and computers, furniture and furnishing etc.) from each of the following retailers in the future, either in-store or on, A3.6. Placeholder: How likely are you to consider purchasing non-food items (such as clothing, electrical appliances, electronics and computers, furniture and furnishing etc.) from each of the following retailers in the future, either in-store or online?, A3.7. Placeholder: How likely are you to consider purchasing non-food items (such as clothing, electrical appliances, electronics and computers, furniture and furnishing etc.) from each of the following retailers in the future, either in-store or online?, A3.8. Placeholder: How likely are you to consider purchasing non-food items (such as clothing, electrical appliances, electronics and computers, furniture and furnishing etc.) from each of the following retailers in the future, either in-store or online?, A3.9. Placeholder: How likely are you to consider purchasing non-food items (such as clothing, electrical appliances, electronics and computers, furniture and furnishing etc.) from each of the following retailers in the future, either in-store or online?, A3.10. Placeholder: How likely are you to consider purchasing non-food items (such as clothing, electrical appliances, electronics and computers, furniture and furnishing etc.) from each of the following retailers in the future, either in-store or online?, A4.1. John Lewis: When was the last time you browsed for non-food items with each of the following retailers?, A4.2. Amazon: When was the last time you browsed for non-food items with each of the following retailers?, A4.3. Argos: When was the last time you browsed for non-food items with each of the following retailers?, A4.4. Next: When was the last time you browsed for non-food items with each of the following retailers?, A4.5. Marks and Spencer: When was the last time you browsed for non-food items with each of the following retailers?, A4.6. Placeholder: When was the last time you browsed for non-food items with each of the following retailers?, A4.7. Placeholder: When was the last time you browsed for non-food items with each of the following retailers?, A4.8. Placeholder: When was the last time you browsed for non-food items with each of the following retailers?, A4.9. Placeholder: When was the last time you browsed for non-food items with each of the following retailers?, A4.10. Placeholder: When was the last time you browsed for non-food items with each of the following retailers?, A6.1. John Lewis: You mentioned that you have browsed with these retailers in the past. Which of the following describe how you have browsed in the past year?, A6.2. Amazon: You mentioned that you have browsed with these retailers in the past. Which of the following describe how you have browsed in the past year?, A6.3. Argos: You mentioned that you have browsed with these retailers in the past. Which of the following describe how you have browsed in the past year?, A6.4. Next: You mentioned that you have browsed with these retailers in the past. Which of the following describe how you have browsed in the past year?, A6.5. Marks and Spencer: You mentioned that you have browsed with these retailers in the past. Which of the following describe how you have browsed in the past year?, A6.6. Placeholder: You mentioned that you have browsed with these retailers in the past. Which of the following describe how you have browsed in the past year?, A6.7. Placeholder: You mentioned that you have browsed with these retailers in the past. Which of the following describe how you have browsed in the past year?, A6.8. Placeholder: You mentioned that you have browsed with these retailers in the past. Which of the following describe how you have browsed in the past year?, A6.9. Placeholder: You mentioned that you have browsed with these retailers in the past. Which of the following describe how you have browsed in the past year?, A6.10. Placeholder: You mentioned that you have browsed with these retailers in the past. Which of the following describe how you have browsed in the past year?, A7.1. John Lewis: And when was the last time you purchased non-food items from each of the following retailers?, A7.2. Amazon: And when was the last time you purchased non-food items from each of the following retailers?, A7.3. Argos: And when was the last time you purchased non-food items from each of the following retailers?, A7.4. Next: And when was the last time you purchased non-food items from each of the following retailers?, A7.5. Marks and Spencer: And when was the last time you purchased non-food items from each of the following retailers?, A7.6. Placeholder: And when was the last time you purchased non-food items from each of the following retailers?, A7.7. Placeholder: And when was the last time you purchased non-food items from each of the following retailers?, A7.8. Placeholder: And when was the last time you purchased non-food items from each of the following retailers?, A7.9. Placeholder: And when was the last time you purchased non-food items from each of the following retailers?, A7.10. Placeholder: And when was the last time you purchased non-food items from each of the following retailers?, A8.1. John Lewis: How frequently do you tend to purchase non-food items from each of the following retailers?, A8.2. Amazon: How frequently do you tend to purchase non-food items from each of the following retailers?, A8.3. Argos: How frequently do you tend to purchase non-food items from each of the following retailers?, A8.4. Next: How frequently do you tend to purchase non-food items from each of the following retailers?, A8.5. Marks and Spencer: How frequently do you tend to purchase non-food items from each of the following retailers?, A8.6. Placeholder: How frequently do you tend to purchase non-food items from each of the following retailers?, A8.7. Placeholder: How frequently do you tend to purchase non-food items from each of the following retailers?, A8.8. Placeholder: How frequently do you tend to purchase non-food items from each of the following retailers?, A8.9. Placeholder: How frequently do you tend to purchase non-food items from each of the following retailers?, A8.10. Placeholder: How frequently do you tend to purchase non-food items from each of the following retailers?, DA8. Dummy to capture LOW QUALITY RESPONDENTS, A9.1. John Lewis: And thinking about the retailers you have purchased non-food items from in the past, which of the following describe how you have purchased in the past year?, A9.2. Amazon: And thinking about the retailers you have purchased non-food items from in the past, which of the following describe how you have purchased in the past year?, A9.3. Argos: And thinking about the retailers you have purchased non-food items from in the past, which of the following describe how you have purchased in the past year?, A9.4. Next: And thinking about the retailers you have purchased non-food items from in the past, which of the following describe how you have purchased in the past year?, A9.5. Marks and Spencer: And thinking about the retailers you have purchased non-food items from in the past, which of the following describe how you have purchased in the past year?, A9.6. Placeholder: And thinking about the retailers you have purchased non-food items from in the past, which of the following describe how you have purchased in the past year?, A9.7. Placeholder: And thinking about the retailers you have purchased non-food items from in the past, which of the following describe how you have purchased in the past year?, A9.8. Placeholder: And thinking about the retailers you have purchased non-food items from in the past, which of the following describe how you have purchased in the past year?, ...]
Index: []

[0 rows x 4111 columns]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 101 columns]

,STATUS,COUNTRY,DWEEK,DMONTH,DQUARTERJL,DWAVE,DROTATIONSECTION_1,DROTATIONSECTION_2,DROTATIONSECTION_3,DROTATIONSECTION_4,...,BRK_137,BRK_138,BRK_139,BRK_140,BRK_141,BRK_142,BRK_143,BRK_144,BRK_145,BRK_146
0,3,1,1,2,1,2,0,1,1,0,...,0,0,1,0,0,0,0,0,0,1
1,3,1,1,2,1,2,0,1,1,0,...,0,0,1,0,1,0,0,0,1,0
2,3,1,1,2,1,2,0,1,1,0,...,0,0,1,0,1,0,0,0,1,0
3,3,1,1,2,1,2,0,1,1,0,...,0,0,1,0,1,0,0,0,1,0
4,3,1,1,2,1,2,0,1,1,0,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35126,3,1,3,4,2,4,0,1,0,1,...,0,1,1,0,1,0,0,0,1,0
35127,3,1,3,4,2,4,0,1,0,1,...,0,1,1,0,1,0,0,0,1,0
35128,3,1,3,4,2,4,0,1,0,1,...,1,0,1,0,1,0,0,0,0,1
35129,3,1,3,4,2,4,0,1,0,1,...,0,1,1,0,1,0,0,0,1,0
35130,3,1,3,4,2,4,0,1,0,1,...,0,1,1,0,0,0,0,0,1,0